    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
        font-family: "Raleway", sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    /* Main */
    
    .main {
        padding: 0 2rem;
        margin: 60px 0;
        box-sizing: border-box;
    }
    /* Header */
    
    .header {
        display: grid;
        grid-template-areas: "logo . register" "navbar navbar navbar";
        align-items: center;
    }
    
    .header_logo {
        height: 3rem;
        grid-area: logo;
        padding: 0 2rem;
    }
    
    .header_navbar {
        display: flex;
        align-items: center;
        grid-area: navbar;
        margin: 30px 0 0 0;
    }
    
    .header_navbar_wrapper_link {
        text-align: center;
        text-decoration: none;
        color: inherit;
        padding: 1.8rem;
        font-weight: 500;
        transition: .2s;
        border-top: transparent;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }
    
    .header_navbar_wrapper_link[data-active=true] {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    
    .header_navbar_wrapper_link:hover {
        color: #0065FC;
        transition: .2s;
    }
    
    .header_signup {
        grid-area: register;
        display: flex;
        align-items: center;
        padding: 2rem;
        color: #0065FC;
        font-weight: 600;
        text-decoration: none;
    }
    /* Search */
    
    .search_header_title {
        margin: 0;
    }
    
    .search_header_description {
        margin: 5px 0;
    }
    
    .search_main_form {
        display: flex;
        align-items: center;
        margin: 20px 0;
        max-width: 425px;
    }
    
    .search_main_form_icon {
        background: #F2F2F2;
        border-radius: 1rem 0 0 1rem;
        padding: 1rem 1.25rem;
    }
    
    .search_main_form_input {
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #f2f2f2;
        border-left: none;
        border-right: none;
        outline: none;
        padding: 0.94rem 1.25rem;
        font-size: 1rem;
        font-weight: bold;
        box-sizing: border-box;
        width: 100%;
    }
    
    .search_main_form_button {
        border-radius: 0 1rem 1rem 0;
        border: none;
        background: #0065FC;
        color: #fff;
        font-weight: bold;
        padding: 1rem 1.45rem;
    }
    
    .search_main_form_button_responsive {
        display: none;
    }
    /* Filters */
    
    .search_main_filters {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    
    .search_main_filters_title {
        margin: 0;
    }
    
    .search_main_filters_filter {
        border-radius: 30px;
        border: 2px solid #d9d9d9;
        display: flex;
        align-items: center;
        max-width: max-content;
        margin: 15px 0 0 0;
    }
    
    .search_main_filters_filter_icon {
        background: #DEEBFF;
        color: blue;
        padding: 20px;
        width: 1.2rem;
        text-align: center;
        border-radius: 100%;
        margin: -2px;
    }
    
    .search_main_filters_filter_name {
        font-weight: bold;
        padding: 17px;
    }
    
    .search_main_infos {
        display: flex;
        align-items: center;
    }
    
    .search_main_infos_icon {
        color: #0065FC;
        border: 1px solid #d9d9d9;
        border-radius: 100%;
        padding: 10px 15px;
        font-weight: bold;
        margin: 0 15px 0 0;
    }
    /* Housing populars */
    
    .housing_populars {
        background: #F2F2F2;
        margin: 20px auto 0 0;
        padding: 2rem;
        border-radius: 20px;
    }
    
    .housing_populars_header {
        display: flex;
        justify-content: space-between;
    }
    
    .housing_populars_header_title {
        margin: 0;
    }
    
    .housing_populars_header_icon {
        font-size: 1.5rem;
    }
    
    .housing_populars_main {
        display: grid;
    }
    
    .housing_populars_main_card {
        background: #fff;
        border-radius: 20px;
        padding: 5px;
        display: flex;
        margin: 30px 0 0 0;
        box-shadow: 0 0 16px rgba(0 0 0 / 10%);
    }
    
    .housing_populars_main_card_image {
        width: 30%;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
    }
    
    .housing_populars_main_card_wrapper {
        padding: 5px 10px;
    }
    
    .housing_populars_main_card_wrapper_title {
        margin: 0;
    }
    
    .housing_populars_main_card_wrapper_description {
        margin: 5px 0;
    }
    
    .housing_main_card_notes_icon {
        color: #d9d9d9;
    }
    
    .housing_main_card_notes_icon[data-active=true] {
        color: #0065FC;
    }
    /* Housing */
    
    .housing {
        background: #F2F2F2;
        margin: 20px auto 0 0;
        padding: 2rem;
        border-radius: 20px;
    }
    
    .housing_header {
        display: flex;
        margin: 0 0 30px 0;
    }
    
    .housing_header_title {
        margin: 0;
    }
    
    .housing_header_icon {
        font-size: 1.5rem;
    }
    
    .housing_main {
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;
    }
    
    .housing_main_card {
        background: #fff;
        border-radius: 20px;
        padding: 5px;
        box-shadow: 0 0 16px rgba(0 0 0 / 10%);
    }
    
    .housing_main_card_image {
        max-width: 100%;
        width: 100%;
        height: 130px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    
    .housing_main_card_wrapper {
        padding: 5px 10px;
    }
    
    .housing_main_card_wrapper_title {
        margin: 0;
    }
    
    .housing_main_card_wrapper_description {
        margin: 5px 0;
    }
    
    .housing_main_card_wrapper_notes_icon {
        color: #d9d9d9;
    }
    
    .housing_main_card_wrapper_notes_icon[data-active=true] {
        color: #0065FC;
    }
    
    .housing_main_more_link {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }
    /* Activities */
    
    .activities {
        margin: 30px 0 0 0;
    }
    
    .activities_main {
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;
        margin: 30px 0 0 0;
    }
    
    .activities_main_card {
        border-radius: 20px;
        box-shadow: 0 0 16px rgba(0 0 0 / 10%);
    }
    
    .activities_main_card_wrap {
        padding: 10px 20px;
    }
    
    .activities_main_card_image {
        max-width: 100%;
        width: 100%;
        height: 130px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    
    .activities_main_card_wrap_title {
        margin: 0;
    }
    /* Footer */
    
    .footer {
        background: #F2F2F2;
    }
    
    .footer_wrapper {
        padding: 20px 30px;
    }
    
    .footer_wrapper_column {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0;
    }
    
    .footer_wrapper_column_title {
        margin: 0 0 10px 0;
    }
    
    .footer_wrapper_column_link {
        text-decoration: none;
        color: inherit;
        margin: 6px 0;
    }
    /* Media Queries */
    
    @media screen and (min-width: 425px) {
        .search_main_form_button_responsive {
            display: block;
        }
        .search_main_form_button_icon {
            display: none;
        }
        .housing_populars_main_card {
            position: relative;
            margin: 20px 0 0 0;
        }
        .housing_populars_main_card_wrapper_notes {
            bottom: 10px;
            position: absolute;
        }
        .housing_populars_main_card_image {
            height: 130px;
        }
    }
    
    @media screen and (min-width: 768px) {
        .header {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo . navbar register";
        }
        .header_navbar {
            margin: 0;
        }
        .header_navbar_wrapper_link {
            border-bottom: transparent;
        }
        .header_navbar_wrapper_link[data-active=true] {
            border-top: 3px solid #0065FC;
            border-bottom: transparent;
        }
        .housing_populars_header {
            margin: 0 0 20px 0;
        }
        .housing_populars_main {
            margin: 0;
        }
        .housing_main {
            grid-template-columns: repeat(2, 1fr);
        }
        .search_main_filters {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        .search_main_filters_filter {
            margin: 10px;
        }
        .search_main_filters_title {
            margin: 0 10px 0 0;
        }
        .activities_main {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 2rem;
        }
        .footer_wrapper {
            display: flex;
            padding: 0 2rem;
            box-sizing: border-box;
        }
        .footer_wrapper_column {
            width: 30%;
            padding: 2rem;
        }
    }
    
    @media screen and (min-width: 1024px) {
        .search_main_filters {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        .housing_populars_main {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2rem;
            grid-row-start: 1;
        }
        .housing_populars_main_card {
            position: relative;
        }
        .housing_main {
            grid-template-columns: repeat(3, 1fr);
        }
        .activities_main {
            grid-template-columns: repeat(3, 1fr);
        }
    }